body {
    background-color: #1e1e1e;
    color: white;
    font-family: Arial, sans-serif;
}

button {
    background-color: #5120c4;
    color: white;
    padding: 10px 16px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

#botãoD20 {
    width: 80px;
    height: 80px;
    font-size: 30px;
    margin-top: 10px;
}

#botãoD20.rolando {
    animation: girarDado 1s linear infinite;
}
    @keyframes girarDado {
        0% {
    transform: rotate(0deg) scale(1);
  }

  25% {
    transform: rotate(90deg) scale(1.1);
  }

  50% {
    transform: rotate(180deg) scale(1);
  }

  75% {
    transform: rotate(270deg) scale(1.1);
  }

  100% {
    transform: rotate(360deg) scale(1);
        
    }
}

section{
    background-color: #2c2c2c;
    padding: 10px;
    border-radius: 10px;
}

input {
    width: 100%;
    padding: 10px;
    margin-top: 8px;
    margin-bottom: 10px;
    border-radius: 6px;
    border: none;
    box-sizing: border-box;
}