body {
  background-color: #1e1e1e;
  color: #055081;
  font-family: Arial, sans-serif;
  text-align: center;
}

#cena3d {
  width: 400px;
  height: 400px;
  margin: 20px auto;
}

#cena3d canvas {
  cursor: grab;
}

#cena3d canvas:active {
  cursor: grabbing;
}